<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="rod.codelibrary">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="rod.codelibrary.MainActivity"
            android:label="@string/app_name"
            android:logo="@drawable/actionbar_logo">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".dataManagement.InternalFileDataManagementActivity"
            android:label="@string/title_activity_save_data_internal"
            android:parentActivityName=".dataManagement.aDataManagementMainActivity" >
        </activity>

        <activity
            android:name=".dataManagement.InternalDatabaseDataManagementActivity"
            android:label="@string/title_activity_save_data_database"
            android:parentActivityName=".dataManagement.aDataManagementMainActivity" >
        </activity>

        <activity
            android:name=".dataManagement.aDataManagementMainActivity"
            android:label="@string/title_activity_data_management"
            android:parentActivityName=".MainActivity" >
        </activity>

        <activity
            android:name=".gps.aGPSMainActivity"
            android:label="@string/title_activity_gps"
            android:parentActivityName=".MainActivity" >
        </activity>
    </application>

</manifest>
