<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="rod.game" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/craft_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">

        <activity android:name=".SplashActivity"
            android:label="@string/title_activity_splash" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".LandingActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>

        <activity android:name=".QuestsActivity"
            android:parentActivityName=".LandingActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".QuestsActivity" />
        </activity>

        <activity android:name=".InventoryActivity"
            android:parentActivityName=".LandingActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".InventoryActivity" />
        </activity>

    </application>

</manifest>
